body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.people {
	width: 100px;
	height: 100px;
	position: absolute;
	display: table;
	top: 55px; 	z-index: 10;

	span {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
	}
	&:nth-child(even) {
		left: 25%;
		margin-left: -50px;
	}
	&:nth-child(odd) {
		left: 75%;
		margin-left: -50px;
	}
}

.line {
	position: absolute;
	left: 50%;
	margin-left: -2px;
	width: 4px;
	height: 100%;
	background-color: blue
}
#value {
	z-index: 10;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	padding: 10px 0;
}
.amountsCtn {
	z-index: 5;
	position: absolute;
	left: 0;
	top: 160px;
	width: 100%;
}
.amount {
	width: 100%;
	height: 100px;
	display: table;
	position: relative;
	margin-bottom: 30px;
	.total-amount{
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0;
		margin-left: -50px;
		left: 50%;
		display: table;
	}
	span {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center
	}
	.left,
	.right,
	.split {
		position: absolute;
		top: 30px;
	}
	.split {
		left: 50%;
		top: 77px;
		margin-left: -20px;
	}
	.left {
		left: 50%;
		margin-left: -70px;
	}
	.right {
		left: 50%;
		margin-left: 30px;
	}
	.to-all{display: table-cell}
	.to-left,
	.to-right{display: none}
	&.left{
		.right-amount{display: none}
		.to-all{display: none}
		.to-left{display: table-cell}
	}
	&.right{
		.left-amount{display: none}
		.to-all{display: none}
		.to-right{display: table-cell}
	}
}
.left-amount,
.right-amount {
	position: absolute;
	top: 16px;
	display: table;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-left: -35px;
}
.left-amount {
	left: 25%;
}
.right-amount {
	left: 75%;
}
