<div class="people img-circle bg-info text-capitalize" ng-repeat="people in peoples | orderBy: '_id' : !reverse">
	<span>{{people.displayname}}</span>
</div>

<div class="line"></div>

<div class="amountsCtn" ng-show="bills">
	<div class="amount" ng-repeat="bill in bills" ng-class="{'left': bill.id_people == peoples[0]._id, 'right': bill.id_people == peoples[1]._id}">
		<div class="left-amount bg-info">
			<!--todo: combine bill.amount and bill.amount/2. there should be something more simple to do-->
			<span class="to-left">{{bill.amount}}</span><span class="to-all">{{bill.amount / 2}}</span>
		</div>
		<div class="right-amount bg-info">
			<span class="to-right">{{bill.amount}}</span><span class="to-all">{{bill.amount / 2}}</span>
		</div>
		<div class="total-amount img-circle bg-success"><span>{{bill.amount}}</span></div>
		<button class="left btn btn-default bg-info glyphicon glyphicon-chevron-left" ng-click="state = 'left'; updateBill(bill._id, peoples[0]._id)" ng-disabled="bill.id_people == peoples[0]._id"></button>
		<button class="right btn btn-default bg-info glyphicon glyphicon-chevron-right" ng-click="state = 'right'; updateBill(bill._id, peoples[1]._id)" ng-disabled="bill.id_people == peoples[1]._id"></button>
		<button class="split btn btn-default bg-info glyphicon glyphicon-resize-horizontal" ng-click="state = 'split'; updateBill(bill._id)"></button>
	</div>
</div>

<div id="value" class="bg-warning">
	<form ng-submit="submit()" class="row">
		<!--<button class="btn btn-default"><</button>
		<button class="btn btn-default">></button>
		<button class="btn btn-default">Date</button>-->
		<input style="width: 25%;display: inline-block" class="form-control" type="number" name="amount" placeholder="255" ng-model="amount" required>
		<button class="btn btn-primary" type="submit" ng-disabled="!amount">Add</button>
	</form>
</div>

<style type="text/css">

</style>