<h1>Forgot password</h1>
<form ng-submit="submit()">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" id="email" name="email" class="form-control">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>