<h1>Login</h1>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="inputUsername" class="col-sm-4 control-label">Username</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword" class="col-sm-4 control-label">Password</label>
		<div class="col-sm-4">
			<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-10">
			<button type="submit" class="btn btn-default" ng-click="logIn(user.username, user.password)">Log In</button>
		</div>
	</div>
</form>

<!--
<form ng-submit="submit()">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" id="username" name="username" class="form-control">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" id="password" name="password" class="form-control">
		<p><small><a href="#/forgot-password">Forgot password?</a></small></p>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>-->
