<h1>Add user <small>(2 max for now)</small></h1>

<ul class="list-group" ng-show="peoples">
	<li class="list-group-item clearfix" ng-repeat="people in peoples">
		{{people.displayname}}
		<button class="btn btn-danger btn-xs pull-right" ng-click="delete(people._id)"><span class="glyphicon glyphicon-remove"></span></button>
	</li>
</ul>

<form ng-submit="submit()">
	<div class="form-group">
		<label for="displayname">First user</label>
		<input type="text" id="displayname" class="form-control" ng-model="form.displayname" ng-disabled="peoples.length >= 2">
	</div>
	<div class="form-group text-right">
		<a href="#/dashboard" class="btn btn-default">Next</a>
		<button type="submit" class="btn btn-primary" ng-disabled="!form.displayname || peoples.length >= 2">Add</button>
	</div>
</form>